*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans';
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
}

.hero {
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
}

.nav {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.heading {
    margin-top: 100px;
}
.heading h1 {
    margin-left: 40px;
    opacity: 0.6;
    line-height: 0.9;
    font-size: 10vw;
    font-weight: 500;
    font-family: 'General Sans Medium';

}

.blocktext {
    display: inline-block;

}

.blocktext h5 {
    text-align: right;
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 16px;
}
.heading .secondh1 {
    margin-left: 200px;
}

.smallheadings{
    font-size: 15px;
    margin: 90px 40px 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    font-weight: 600;

}

.smallheadings a {
    text-decoration: none;
    color: white;
    margin-top: 10px;

}

.herofooter a {
    text-decoration: none;
    color: white;
    font-weight: 550;
}

.herofooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
}

.circles {
    display: flex;
    gap: 5px;
}

.circle1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #888;
    color: black;
    font-weight: 800;
    border-radius: 50%;
}

.second-hero {
    background-color: black;
    padding-top: 120px;
    padding-bottom: 50px;
}
.projects {
    background-color: black;
    color: white;
    width: 93%;
    height: 100vh;
    padding: 40px;
}

.project-flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 0;
}

.projects h1 {
    font-size: 7vw;
    opacity: 0.7;
}

.projects h5{
    font-size: 1vw;
}

.projects img {
    position: absolute;
    height: 140%;
    z-index: 999;
    display: none;
}

.third-hero {
    width: 100%;
    background-color: #000000;
    height: 100vh;
}

.about {
    width: 93%;
    height: 90vh;
    display: flex;
    padding-left: 600px;
    padding-right: 60px;
    align-items: center;
    color: white;
    gap: 80px;
    line-height: 1.5;
    font-size: 1.17vw;
}

.about img {
    width: 30%;

}

.about a {
    margin-top: 50px;
    padding: 5px 20px;
    color: white;
    border: 2px solid #888;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
}

.about p {
    margin-bottom: 20px;
}
.about h5 {
    opacity: 0.7;
    font-size: 14px ;
}

.subscribe {
    color: white;
    padding: 0 40px;
    line-height: 1.8;
    font-weight: 600;
}

.subscribe a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;

}

.subscribe h5 {
    opacity: 0.7;
    font-weight: 400;
}